{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card mb-3 custom-card" style="background-color: #ffffff; border-color: #BA5112; margin-top: 50px;">
            <div class="card-body">
                <h2 class="card-title text-center" style="color: #BA5112;">Task No.{{record.id}}</h2><br>
                    <p class="card-text"><strong>Date:</strong> {{record.creation_date}}</p>
                    <p class="card-text"><strong>Delivery Man:</strong> {{record.delivery_man}}</p>
                    <p class="card-text"><strong>Client Address:</strong> {{record.client_address}}</p>
                    <p class="card-text"><strong>Client Name:</strong> {{record.client_name}}</p>
                    <p class="card-text"><strong>Client Phone:</strong> {{record.client_phone}}</p>
                    <p class="card-text"><strong>Price:</strong> {{record.price}} DH</p>

                    <br>
                    <div class="text-center">
                        <a href="{% url 'dashboard' %}" class="btn" style="width: 110px; background-color: #ffffff; border-color: #BA5112; color: rgb(0, 0, 0);"> <strong>Return</strong> &nbsp;</a>

                        &nbsp;

                        <a href="{% url 'update-record' record.id %}" class="btn" style="width: 110px; background-color: #BA5112; border-color: #BA5112; color: rgb(0, 0, 0);"><strong>Update</strong> &nbsp;</a>
                        
                        &nbsp;

                        <a href="{% url 'delete-record' record.id %}" class="btn" style="width: 110px; background-color: #BA5112; border-color: #BA5112; color: rgb(0, 0, 0);"> <strong>Delete</strong> &nbsp;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>



{% endblock %}